*.o
*.lo
*.la
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
config.sub
configure
libtool
stamp-h1
build-aux
autom4te.cache
ell
src/iwd
client/iwctl
monitor/iwmon
tools/hwsim
doc/iwmon.1
unit/test-cmac-aes
unit/test-arc4
unit/test-hmac-md5
unit/test-hmac-sha1
unit/test-hmac-sha256
unit/test-pbkdf2-sha1
unit/test-prf-sha1
unit/*.log
unit/*.trs
unit/test-ie
unit/test-crypto
unit/test-mpdu
unit/test-eapol
unit/test-ssid-to-utf8
unit/test-ssid-security
test-suite.log
